*,
::before,
::after {
  box-sizing: border-box;
}

/* ---------- root variables ---------- */
:root {
  --black: #222;
  --grey: #333;
  --light-green: #;
  --light-grey: #;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --white: #fff;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ---------- general styling ---------- */

html {
  color: var(--text-color-light);
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
  background-color: var(--black);
  overflow-x: hidden;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 3px;
}

h3 {
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0.5em 0 0.2em;
}

img {
  width: 100%;
  height: auto;
}

p {
  max-width: 600px;
}

/* ---------- navigation styling ---------- */
.main-navigation {
  position: absolute;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  height: 9%;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  height: 5em;
  margin: 0 10%;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  font-weight: 400;
}

.nav-items a {
  text-decoration: none;
  color: white;
  margin: 0;
  font-size: 1em;
}

.nav-items a:hover {
  cursor: pointer;
  color: #888;
}

.icons {
  display: flex;
  align-items: center;
}

.icons img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.icons span {
  margin-left: 40px;
}

/* ---- overlay ----*/

/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  background-color: var(--black);
  overflow-x: hidden;
  transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--text-color-light);
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #6b37e2;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  animation: fadeIn 0.4s;
}

/* ---------- section styling ---------- */
.section {
  height: 100vh;
}

.img-div {
  height: 100%;
  width: 50%;
  background: var(--grey);
  display: block;
}

.text-side {
  display: block;
  width: 50%;
}

.text-block {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-left: 10%;
}

.section-projects,
.section-about,
.section-contact {
  display: flex;
  flex-direction: row;
}

.email {
  padding: 30px 0;
  text-decoration: none;
  font-size: 36px;
  color: var(--text-color-light);
  display: block;
  transition: 0.3s;
}
.email:hover,
.email:focus {
  color: #6b37e2;
}

/* start section styling */

.section-main div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section-main img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  height: 90%;
  width: auto;
}

/* other sections styling */

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
